<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>CAMPUS</h3>
        </div>
        <ul>
            <li>
                <div class=" showl">
                    <div class="options">Cultural Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/cultural">Members</a></div>
                            </li>
                            <!--<li><div class="options"><a href="#">Contacts</a></div></li>-->
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1kFHoGGvByiqRs1Nx-OaWgh0HxEj1feQxMXomvA0W61g/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Sports Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/sports">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1KlRwh8WRiGwv548mDPFv8kxfe3Tr_I5lZA99RYL3jlQ/viewform " target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Science & Tech. Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/science">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1E_Bgu4p76DDpAzHhwCjztTHbeCMA68YeaJl3YrhRdDI/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Academic Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/academic">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/16x8KGbDFg-aktQDUr8webRweik9ifYA6Jb9GNijpRsI/viewform" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/medical">
                    <div class="options">Medical</div>
                </a>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Contacts</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="http://www.lnmiit.ac.in/Students/Gymkhana.html" target="_blank">LNMIIT SENATE</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Post</th>
                        </tr>
                        <tr>
                            <td class="Heading2"  colspan="5" align="LEFT" valign="BOTTOM">
                                Academic Council
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Sidharth Sethia
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC290
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                sethiasidharth@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7023479993
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Parth Javiya
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS152
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                javiya.parth@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7597386094
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" align="LEFT" valign="BOTTOM">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td class="Heading2" colspan="5" align="LEFT" valign="BOTTOM">
                                AC-UGC
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Nilisha Soni
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC180
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                autofreak.nilisha@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7568070165
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Vaibhav garg
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC314
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                gargvaibhav2408@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7597385369
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Annu Purohit
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS017
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                purohitanu41295@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9462904766
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Vageesha Sharma
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC313
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                vageesha2606@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9828931243
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Vishal K. Nair
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC331
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                vishalknair02@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                ​7597431330​
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Vaibhav Gupta
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC315
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                vaibhav310396@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7597078122
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM" colspan="5">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td class="Heading2"  colspan="5" align="LEFT" valign="BOTTOM">
                                AC-PGC
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Priyankar Choudhary
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15MCS003
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                priyankar1205@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9529969839
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM" colspan="5">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td class="Heading2" colspan="5" align="LEFT" valign="BOTTOM">
                                AC-SAC
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Nikhil Karthik P
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC210
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                nikhil162punnam@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7597023796
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Bhavik Thakkar
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UEC024
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                thakkarb97@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8003253190
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td class="Heading2"  colspan="5" align="LEFT" valign="BOTTOM">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td class="Heading2" colspan="5" align="LEFT" valign="BOTTOM">
                                AC-LC
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Aadhar Jain
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC001
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                aadharjain1@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9799887882
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Chirag Agarwal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC074
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                agarwalchirag81@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9530152861
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Prakshi Yadav
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UEC068
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                yprakshi@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9509990535
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Saurav Mehrotra
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS104
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                saurav24081996@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7073719036
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" align="LEFT" valign="BOTTOM">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td class="Heading2"  colspan="5" align="LEFT" valign="BOTTOM">
                                AC-EPC
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Diksha Bhateja
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC090
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                dikshabhateja18@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9982486960
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Siddhant Singh
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC285
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                siddhant.000.singh@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7597023453
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" align="LEFT" valign="BOTTOM">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td class="Heading2"  colspan="5" align="LEFT" valign="BOTTOM">
                                Finance Team
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Prakhar Deep
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Y13UC196
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                deepprakhar24@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9413172823
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Finance Convenor
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Bhavuk Kabra
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS031
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                bhavukkabra@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8764405937
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator(Cultural Council)
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Rohan Bhatti
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCC034
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                rohan4b@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9417000456
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator(Sports Council)
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Vamsi Krishna
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS136
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                pvamsikrishna97@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9587094955
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator(Science & Tech. Council)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
