<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>TASHIP</h3>
        </div>
        <ul>
            <li>
                <a href="/applyForTa">
                    <div class="options">Instructions</div>
                </a>
            </li>
            <li>
                <a href="/viewCourseForTa">
                    <div class="options">TAship Offered</div>
                </a>
            </li>
            <li ng-if="main.user.tag == 'student' ">
                <a href="/applyForm">
                    <div class="options">Application Form</div>
                </a>
            </li>
            <li>
                <a href="/resultForTa">
                    <div class="options">Result</div>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <div class="options">Contact Us</div>
                </a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/addCourseForTa">Add Course for TA's</a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/viewApplicationForTa">View applicants</a>
            </li>
                        <li ng-if="main.user.tag == 'faculty' ">
                <a href="/acceptedApplicationForTa">View Accepted applicants</a>
            </li>

        </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
        <h2 class="body_title">LNMIIT Teaching Assistant Rules and Regulations</h2>
        <div>
            <h3><strong><u>PG TAs </u> :</strong></h3>
            <p><b>Eligibility :</b> An enrolled student in any PG program (M.Tech, M.S, MSc or PhD) of the institute. </p>
            <p> <b>Stipend :</b> Rs. 4400 per month for PG TA and as per rules for PhD</p>
            <p><b>Duties :</b>
                <ul>
                    <li>A minimum of 10 working hours per week which should include a minimum of 6 lab hours/ 4 tutorial hours and 4 hours in invigilation, evaluation and other helps related to the course. (3 hours of lab should be considered equal to 2 hours of tutorial).</li>
                    <li>PG TAs can evaluate UG quizzes and assignments whose solutions are mostly objective/short answer type and provided by the Course Instructor.</li>
                    <li>Evaluation should be done under supervision of the instructor in his/her office or a lab.</li>
                    <li>PG TAs can’t evaluate midterm, end term, term papers or seminars of any student in the Institute.</li>
                    <li>PG TA can teach and evaluate in tutorials. PG TA has to prepare the answers for tutorial and get it approved from the course instructor before going to the tutorial session.</li>
                    <li>TAs involved only in evaluation of one course must justify their 10 hours of weekly work either by taking the responsibility in multiple courses or helping in lab sessions of other courses.</li>
                    <li>Workload for Ph.D. TA would be double of M.Tech/M.S./MSc TA.</li>
                </ul>
            </p>
        </div>
        <div>
            <h3><strong><u>UG TAs: </u> :</strong></h3>
            <p><b>Eligibility :</b>
                <ul>
                    <li>He/She should be a student of 3rd or 4th year of any UG program of the institute.</li>
                    <li>He/she should have a CGPA of 7.5 and above and a grade of B or above the course for which he/she is applying for TAship.</li>
                    <li>For TAship of first year UG course the applicant should be in 3rd or 4th year.</li>
                    <li>For TAship of Second year UG course the applicant should be in 4th year.</li>
                </ul>
            </p>
            <p><b> Stipend :</b> Rs. 1500 per month for Quarter TA and Rs 2500 per month for Half TA</p>
            <p><b>Duties:</b>
                <ul>
                    <li>A quarter TA will have to spend a minimum of 3 working hours per week in assistance. It can be one complete lab session or 2 Tutorials. TA has to help in conducting in one full lab session. If he/she is not able to help in one complete lab session, then he/she has to help in two lab sessions for maximum possible duration. (3 hours of lab should be considered equal to 2 hours of tutorial).</li>
                    <li>A half TA will have to spend a minimum of 6 working hours per week in assistance. It can be 2 complete lab session or 4 Tutorials. TA has to help in conducting 2 full lab sessions. If he/she is not able to attend one complete lab session, then he/she has to help in 3 lab sessions for maximum possible duration. (3 hours of lab should be considered equal to 2 hours of tutorial).</li>
                    <li>UG TAs can only help in lab related activities.</li>
                    <li>UG TAs can’t evaluate UG quizzes, assignments, midterm, end term, term papers or seminars of any student in the Institute.</li>
                    <li>UG TA can teach in tutorial but can't evaluate these tutorials. UG TA has to prepare the answers for tutorial and get it approved from the course instructor before going to the tutorial session.</li>
                </ul>
            </p>
        </div>
        <button class="btn primary"><a href="/applyForm">Apply here</a></button>
    </div>
</div>
