<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>CAMPUS</h3>
        </div>
        <ul>
            <li>
                <div class=" showl">
                    <div class="options">Cultural Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/cultural">Members</a></div>
                            </li>
                            <!--<li><div class="options"><a href="#">Contacts</a></div></li>-->
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1kFHoGGvByiqRs1Nx-OaWgh0HxEj1feQxMXomvA0W61g/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Sports Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/sports">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1KlRwh8WRiGwv548mDPFv8kxfe3Tr_I5lZA99RYL3jlQ/viewform " target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Science & Tech. Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/science">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1E_Bgu4p76DDpAzHhwCjztTHbeCMA68YeaJl3YrhRdDI/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Academic Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/academic">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/16x8KGbDFg-aktQDUr8webRweik9ifYA6Jb9GNijpRsI/viewform" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/medical">
                    <div class="options">Medical</div>
                </a>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Contacts</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="http://www.lnmiit.ac.in/Students/Gymkhana.html" target="_blank">LNMIIT SENATE</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> Welcome to Campus section!!
                        </div>
                        <div class="panel-body">
                            This page contains information regarding various councils and committees active in the institute.
                        </div>
                    </div>
                    <div class="panel panel-success">
                    </div>
                </div>
            </div>
        </div>
        <!-- <h1 class="body_title">Medical</h1>
        <div>
            <h3><strong><u>CONTACT INFORMATION</u> :</strong></h3>
            <h4><strong><u>NURSING STAFF</u> :</strong></h4>
            <table>
                <tr>
                    <td width="300"><strong>Name</strong></td>
                    <td width="150"><strong>Contact Info </strong></td>
                </tr>
                <tr>
                    <td>Mr Nahar singh Chaudhary</td>
                    <td>9461692225 </td>
                </tr>
                <br>
                <tr>
                    <td>Smt Pushpa Devi</td>
                    <td>8764038742 </td>
                    <br>
                </tr>
                <tr>
                    <td>Mr Ram kishor (Ambulance driver) </td>
                    <td>9828305926 </td>
                </tr>
            </table>
            <hr>
            <h4><strong><u>VISITING MEDICAL ADVISORS</u> :</strong></h4>
            <table>
                <strong></strong>
                <tr>
                    <td width="300"><strong>Name</strong></td>
                    <td width="200"><strong> Day </strong></td>
                    <td width="150"><strong>Contact Info</strong></td>
                </tr>
                <tr>
                    <td>Dr Konpal Agrawal (Gynecologist) </td>
                    <td>Thursday (16:00 - 18:00)</td>
                    <td>7597965980</td>
                </tr>
                <tr>
                    <td>Dr Sudhir Rathore (Physiotherapist) </td>
                    <td>Monday (15:00 - 17:00) </td>
                    <td>9314255136</td>
                </tr>
            </table>
            <hr>
            <h4>
<strong>If Any Emergency,</strong>
</h4>
            <table>
                <tr>
                    <td width="300"><strong>Name</strong></td>
                    <td width="150"><strong>Contact Info</strong></td>
                </tr>
                <tr>
                    <td width="300">Dr Chand Singh Panwar (Medical Officer)</td>
                    <td>7737453601</td>
                </tr>
                <tr>
                    <td>Contact Hours : 9:00 - 18:00</td>
                    <td></td>
                </tr>
            </table>
            <center>
                <h3><strong>EXTENSION NUMBER : 294</strong></h3></center>
        </div>
    </div> -->
    </div>
</div>
