<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>TASHIP</h3>
        </div>
        <ul>
            <li>
                <a href="/applyForTa">
                    <div class="options">Instructions</div>
                </a>
            </li>
            <li>
                <a href="/viewCourseForTa">
                    <div class="options">TAship Offered</div>
                </a>
            </li>
            <li ng-if="main.user.tag == 'student' ">
                <a href="/applyForm">
                    <div class="options">Application Form</div>
                </a>
            </li>
            <li>
                <a href="/resultForTa">
                    <div class="options">Result</div>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <div class="options">Contact Us</div>
                </a>
            </li>
  <li ng-if="main.user.tag == 'faculty' ">
                <a href="/addCourseForTa"> <div class="options">Add Course for TA's<div></a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/viewApplicationForTa"> <div class="options">View applicants<div></a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/acceptedApplicationForTa"> <div class="options"> Accepted applicants<div></a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/rejectedApplicationForTa"> <div class="options"> Rejected applicants<div></a>
            </li>
       </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="panel panel-primary">Contact Info</div>
                <div class="panel-body">
In case of any query/problem related to course allocation one should contact course coordinator.

                </div>                <div class="panel-body">
For any Technical details you can write to us at sandeep.saini@lnmiit.ac.in OR ag251994@gmail.com.


                </div>
            </div>
            <div class="panel panel-success">
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
</div>
</div>