<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>CAMPUS</h3>
        </div>
        <ul>
            <li>
                <div class=" showl">
                    <div class="options">Cultural Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/cultural">Members</a></div>
                            </li>
                            <!--<li><div class="options"><a href="#">Contacts</a></div></li>-->
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1kFHoGGvByiqRs1Nx-OaWgh0HxEj1feQxMXomvA0W61g/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Sports Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/sports">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1KlRwh8WRiGwv548mDPFv8kxfe3Tr_I5lZA99RYL3jlQ/viewform " target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Science & Tech. Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/science">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1E_Bgu4p76DDpAzHhwCjztTHbeCMA68YeaJl3YrhRdDI/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>

            <li>
                <div class=" showl">
                    <div class="options">Academic Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/academic">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/16x8KGbDFg-aktQDUr8webRweik9ifYA6Jb9GNijpRsI/viewform" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/medical">
                    <div class="options">Medical</div>
                </a>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Contacts</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="http://www.lnmiit.ac.in/Students/Gymkhana.html" target="_blank">LNMIIT SENATE</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Post</th>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Akshay Modi
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS010
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                akshaymodi.lnmiit@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7597814370
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Secretary
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Anusha Agarwal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UEC014
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                anusha.lnmiit@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9413453186
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Associate General Secretary
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Arpan Goyal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UEC015
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                arpangoyal154@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8989122154
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Gaurav Aaidasani
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS041
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                gaurav23.97@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Yash Soni
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS166
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                sony.yash31@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9571419531
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Anshul Garg
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS019
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                anshulgarg324@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9772466253
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Chanpreet Chhabra
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS032
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                chanpreet.chhabra@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9602976558
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Aarush Verma
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS003
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                aarushverma96@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9782752748
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Sarthak Saxena
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS120
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                ssarthak.saxena1@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9462767891
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Sukrati Jain
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS144
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                sukratijain06@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7597221934
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Somya Makkad
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS143
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                samymakkad1@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8107887436
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Indresh Khandelwal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS049
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                indu1922@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8107245977
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Nishank Bhati
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS086
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                nishank123xyz@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9461218142
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Jeetendra Ajmera
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS056
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                jeetendra.ajmera@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9782709434
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
