<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>TASHIP</h3>
        </div>
        <ul>
            <li>
                <a href="/applyForTa">
                    <div class="options">Instructions</div>
                </a>
            </li>
            <li>
                <a href="/viewCourseForTa">
                    <div class="options">TAship Offered</div>
                </a>
            </li>
            <li ng-if="main.user.tag == 'student' ">
                <a href="/applyForm">
                    <div class="options">Application Form</div>
                </a>
            </li>
            <li>
                <a href="/resultForTa">
                    <div class="options">Result</div>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <div class="options">Contact Us</div>
                </a>
            </li>
  
    <li ng-if="main.user.tag == 'faculty' ">
                <a href="/addCourseForTa"> <div class="options">Add Course for TA's<div></a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/viewApplicationForTa"> <div class="options">View applicants<div></a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/acceptedApplicationForTa"> <div class="options"> Accepted applicants<div></a>
            </li>
            <li ng-if="main.user.tag == 'faculty' ">
                <a href="/rejectedApplicationForTa"> <div class="options"> Rejected applicants<div></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">Applicatants</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Course ID</th>
                            <th>UG or PG</th>
                            <th>CPI</th>
                            <th>Grade</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="each in application.applications">
                            <td>{{ each.name }}</td>
                            <td>{{ each.rollNo }}</td>
                            <td>{{ each.courseId }}</td>
                            <td>{{ each.ugOrPg }}</td>
                            <td>{{ each.cpi }}</td>
                            <td>{{ each.grade }}</td>
                            <td>
                                <button type="submit" class="btn btn-info btn-sm" ng-click="application.approve(each._id)">Approve</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>