<div class="container" ng-controller="MainController as forgot">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">

			<h1>Reset Password</h1>

				<form  class="form-sigin" method="post" ng-submit="forgot.doReset()">
					Email : <input type="text" name="email" class="form-control" ng-model="forgot.forgotData.email">
					New Password: <input type="text" name="password" class="form-control" ng-model="forgot.forgotData.password">

					<button type="submit" class="btn btn-success">Reset</button>
				</form>
			</div>

		</div>

		

</div>


 