<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>CAMPUS</h3>
        </div>
        <ul>
            <li>
                <div class=" showl">
                    <div class="options">Cultural Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/cultural">Members</a></div>
                            </li>
                            <!--<li><div class="options"><a href="#">Contacts</a></div></li>-->
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1kFHoGGvByiqRs1Nx-OaWgh0HxEj1feQxMXomvA0W61g/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Sports Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/sports">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1KlRwh8WRiGwv548mDPFv8kxfe3Tr_I5lZA99RYL3jlQ/viewform " target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Science & Tech. Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/science">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1E_Bgu4p76DDpAzHhwCjztTHbeCMA68YeaJl3YrhRdDI/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Academic Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/academic">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/16x8KGbDFg-aktQDUr8webRweik9ifYA6Jb9GNijpRsI/viewform" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/medical">
                    <div class="options">Medical</div>
                </a>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Contacts</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="http://www.lnmiit.ac.in/Students/Gymkhana.html" target="_blank">LNMIIT SENATE</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Post</th>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Vipul Behl
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UEC120
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                vbehl03@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9468590302
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Secretary
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Kritika Karwasra
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UMM011
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                mekritika28@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7073157758
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Associate General Secretary
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Swapnil Pandey
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS130
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                pandey.swapnil96@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9571520559
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Siddharth Goyal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS140
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                siddharth.game@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9772338453
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Rohit Patel
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UME021
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                rpgreenlantern@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9755729796
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Aditya Sharma
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS007
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                aditya.suzuki.shamra@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9636955606
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Yash Khandelwal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS165
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                yashkhandelwal99299@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9929927653
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Saksham Saxena
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UEC052
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                sakshamsaxena1997@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9829395744
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Siddhant Agarwal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UMM031
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                siddhant96.lnmiit@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8764252608
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Aman Dhembla
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS017
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                amandhembla@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9034911484
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Mayuri Agrawal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS071
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                mayuri.agrawal6547@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9414048295
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
