<div class="jumbotron col-md-12"  ng-controller="SearchStudentController as user">
    <h3>Search Student</h3>
    <form method="post" accept-charset="utf-8" ng-submit="user.searchStudent()">
            <input type="text" name="rollNo" ng-model="user.searchData.rollNo"/>
        <button type="submit" class="btn btn-info btn-md">GO</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr class="success">
                <th>Roll No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td>
                    {{ results[0].rollNo }}
                </td>
                <td>
                    {{ results[0].name }}
                </td>
                <td>
                    {{ results[0].email }}
                </td>
                <td>
                    <button type="submit" class="btn btn-info btn-sm" ng-click="user.sendPostMail(results[0].rollNo)">Send Email</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>