<div id="container">
    <div id="sidebar">
        <div id="sidebar_header">
            <h3>CAMPUS</h3>
        </div>
        <ul>
            <li>
                <div class=" showl">
                    <div class="options">Cultural Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/cultural">Members</a></div>
                            </li>
                            <!--<li><div class="options"><a href="#">Contacts</a></div></li>-->
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1kFHoGGvByiqRs1Nx-OaWgh0HxEj1feQxMXomvA0W61g/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Sports Council</div>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/sports">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1KlRwh8WRiGwv548mDPFv8kxfe3Tr_I5lZA99RYL3jlQ/viewform " target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Science & Tech. Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/science">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/1E_Bgu4p76DDpAzHhwCjztTHbeCMA68YeaJl3YrhRdDI/viewform?edit_requested=true" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Academic Council</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="/academic">Members</a></div>
                            </li>
                            <li>
                                <div class="options"><a href="https://docs.google.com/forms/d/16x8KGbDFg-aktQDUr8webRweik9ifYA6Jb9GNijpRsI/viewform" target="_blank">Feedback</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/medical">
                    <div class="options">Medical</div>
                </a>
            </li>
            <li>
                <div class=" showl">
                    <div class="options">Contacts</div>
                    </a>
                    <ul>
                        <div id="sidebar">
                            <li>
                                <div class="options"><a href="http://www.lnmiit.ac.in/Students/Gymkhana.html" target="_blank">LNMIIT SENATE</a></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div id="contents">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Post</th>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Shubham Vashisth
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS122
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                shubhamv1204@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7073102810
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Secretary
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Sameeksha Gupta
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCC035
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                sameekshagupta.11@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8290424235
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Associate General Secretary
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Shubham Chaurasia
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS136
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                shubham.chaurasia.261996@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9001201842
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Priyansh Mangal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UCS087
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                priyanshmangal@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9529666908
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Achint Sharma
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS009
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                gr8achint.sharma@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8769925664
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Harsh Pant
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS046
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                harshpant1996@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9521113805
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                Senator
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Shivam Gupta
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                14UMM028
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                shivamgupta2671832@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9462103949
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Sakshi Goyal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS116
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                sakshigoyal718@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                7073488299
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Akshay Maheshwari
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS014
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                akhem301@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8769257920
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Parth Goyal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS093
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                goyalparth17@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                8003560849
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Arjun Gupta
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS024
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                arjungupta3023@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9911933998
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Mukul Goyal
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCC021
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                me.mukul05@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9460855988
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                        <tr>
                            <td align="LEFT" valign="BOTTOM">
                                Aadarsh Gupta
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                15UCS001
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                aadarsh.cooleddy@gmail.com
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                9521113816
                            </td>
                            <td align="LEFT" valign="BOTTOM">
                                General Body Member
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
